<!-- modaladdconditionP.component.html -->
<div id="modalBackground"  class="modal">
    <div>
      
    <div class="modal-content">
      <span class="close" id="closeModalBtn" (click)="closeModal()">&times;</span>
      <h3>Ajouter un conditionp</h3>
      <hr style="width: 338.2px;margin-left: -20px;margin-bottom: 10px;">
      <form (submit)="addconditionP()">
      <div class="iii">
     
        <label for="newconditionPName">Libellé du conditionp :</label><br>
        <input id="newconditionPName" [(ngModel)]="newconditionP.label" name="newconditionPName" required placeholder="Entrez conditionP Nom"><br>
      </div>
      <div style="width: 113.5%;background-color: #A9F4F9;margin-left: -20px;height: 70px;">
        <button id="saveBtn" style="margin-top: 15px;margin-left: 230px;"  (click)="addconditionP()" [disabled]="isAdding">Ajouter</button>
      </div>
    </form>
    </div>
  </div>
</div>
