<!-- modaladddevistache.component.html -->
<div id="modalBackground" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn" (click)="closeModal()">&times;</span>
        <h3>Ajouter Tâche au Devis</h3>
        <form>
            <ng-select class="select" [(ngModel)]="selectedTaskId" name="task" (ngModelChange)="checkTaskSelection()" id="task">
                <ng-option value="" >Sélectionnez une tâche</ng-option>
                <ng-option *ngFor="let task of tasks" [value]="task.taskId">{{ task.taskName }}</ng-option>
            </ng-select>
              <div *ngIf="!selectedTaskId" style="color: red;">Veuillez sélectionner une tâche</div><br>
            <div style="width: 113.5%;background-color: #A9F4F9;margin-left: -20px;height: 70px;">
            <button style="margin-top: 15px;margin-left: 230px;" (click)="addTaskToDevis()" [disabled]="isAdding">Ajouter</button></div>
        </form>
    </div>
</div>
