<!-- Element.component.html -->
<div style="margin-left: 50px; background-color: rgb(255, 252, 250); width: 87%; overflow: hidden;border: 1px solid rgb(234, 234, 234);margin-top: 50px;">
    <!-- <div style="display: inline-block; margin-left: 2%;">
        <button style="background-color: red;font-size: small" class="action-button" (click)="openImportModal()">Importer</button>
        <button style="background-color: green;font-size: small" class="action-button" (click)="exportToExcel()">Export</button>
    </div> -->
    <div style="margin-left: 20px; margin-bottom: 20px;">
        <div style="display: inline-block;">
            <h2>Liste des éléments</h2>
        </div>
        <div class="search-bar-wrapper" style="display: inline-block; margin-left: 50.7%; margin-top: 6px;">
            <input class="search-bar" matInput placeholder="Rechercher..." (input)="applyFilter($event)">
            <!-- Exemple si vous avez une icône de recherche -->
            <i class="search-icon">🔍</i>
          </div>
        <div style="display: inline-block; margin-left: 2%;">
            <button class="action-button" (click)="openModal()">+</button>
        </div>
<table class="table">
    <tr>
        <th (click)="sortData('id')">Id de l'élément</th>
        <th (click)="sortData('name')">Libellé de l'élément</th>
        <th (click)="sortData('note')">Note de l'élément</th>
        <th (click)="sortData('type')">Type de l'élément</th>
        <th>Tarifs de l'élément</th>
        <th>Action</th>
    </tr><ng-container *ngIf="paginatedData.length > 0; else emptyTable">
    <tr *ngFor="let Element of paginatedData">
        <td>{{ Element.id }}</td>
        <td>{{ Element.name }}</td>
        <td>{{ Element.note }}</td>
        <td>{{ Element.type?.label }}</td>
        <td><button [routerLink]="['/tarif', Element.id]" class="view-projects-button">Tarifs</button></td>
        <td>
            <img src="assets/icons8-edit.svg" alt="Edit" (click)="openModalUpdate(Element.id)" >
            <img src="assets/icons8-delete.svg" alt="Delete" (click)="openModalDelete(Element.id)">
        </td>
    </tr></ng-container>
    <ng-template #emptyTable>
        <tr>
            <td colspan="9" style="text-align: center;">La table est vide</td>
        </tr>
    </ng-template>
</table>
</div>
<mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
</div>
<app-modaladdelement></app-modaladdelement>
<app-modalupdateelement [updatedElement]="updatedelement ? updatedelement : null"></app-modalupdateelement>
<app-modaldeleteelement></app-modaldeleteelement>
<app-import-modalelement></app-import-modalelement>