<div id="modalBackgroundupdate" class="modal">
    <div class="modal-content">
      <span class="close" id="closeModalBtn" (click)="closeModalUpdate()">&times;</span>
      <h3>Modifier l'utilisateur</h3>
      <hr style="width: 338.2px;margin-left: -20px;margin-bottom: 10px;">
      <form (ngSubmit)="updateUser()">
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" [(ngModel)]="name" name="name" placeholder="Entrez le nom de l'utilisateur" required>
        </div>
        <div>
          <label for="email">Email</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Entrez l'email de l'utilisateur" required>
        </div>
        <div>
          <label for="role">Role</label>
          <select id="role" [(ngModel)]="role" name="role" required>
            <option  *ngIf="isSuperAdmin">ADMIN</option>
            <option>Commercial</option>
          </select>
        </div>
        <div style="width: 113.55%;background-color: #A9F4F9;margin-left: -20px;height: 70px;">
          <button type="submit">Update User</button>
        </div>
      </form>
    </div>
  </div>
  