<!-- modalupdateDevisf.component.html -->
<div id="modalBackgroundupdate" class="modal" *ngIf="updatedDevisf">
  <div>
    <!-- [style.height]="modalHeight" -->
      <div class="modal-content"  [ngStyle]="{'height': modalHeight}">
        <span class="close" id="closeModalBtn" (click)="closeModalUpdate()">&times;</span>
        <h3>Mettre à jour le Devis</h3>
        <form (ngSubmit)="updateDevisf()" #updateForm="ngForm">
          <div class="iii" *ngIf="updatedDevisf">
            <div>
              <div style="display: flex;align-items: center;">
              <hr style="width: 180px;margin-left: 10px;">
              <label>Remise et Tva:</label>
              <hr style="width: 180px;margin-left: 10px;">
            </div>
              <div style="display: flex;width: 500px;">
                <div style="display: flex;">
                <label for="checkboxDiscount">Montant:</label>
                <input style="width: 10px;margin-top: -2px;" type="checkbox" id="checkboxDiscount" [checked]="showDiscount" (change)="onCheckboxChange('discount')" name="discount">
              </div>
                <div style="display: flex;margin-left: 100px;">
                <label for="checkboxDiscountP">pourcentage:</label>
                <input style="width: 10px;margin-top: -2px;" type="checkbox" id="checkboxDiscountP" [checked]="showDiscountP"  (change)="onCheckboxChange('discountP')" name="discountP">
              </div>
              <div style="display: flex;margin-left: 100px;">
                <label  for="tvaCheckbox">TVA:</label>
                  <input style="width: 10px;margin-top: -2px;" type="checkbox" id="tvaCheckbox" [checked]="applyTVA" [(ngModel)]="updatedDevisf.tva_present" (change)="onCheckboxChange('tva')" name="tvaCheckbox"></div>
              </div>
              </div>
            </div>
            <div>
              <div *ngIf="showDiscount" style="display: inline-block;">
                <label style="font-weight: 100;margin-bottom: -20px;margin-top: -5px;" for="tvaValue">Mnontant:</label><br>
                <input type="number" id="updatedDevisfdiscount" [(ngModel)]="updatedDevisf!.discount" (ngModelChange)="updateFieldStatus()" required placeholder="Entrez le discount du devis" name="updatedDevisfdiscount">
              </div>
              <div *ngIf="showDiscountP" style="display: inline-block;">
                <label style="font-weight: 100;margin-bottom: -20px;margin-top: -5px;" for="tvaValue">Pourcentage(%) :</label><br>
                <input type="number" id="updatedDevisfdiscountp" [(ngModel)]="updatedDevisf!.discountp" (ngModelChange)="updateFieldStatus()" required placeholder="Entrez le discount en pourcentage du devis" name="updatedDevisfdiscountp">
              </div>
              <div *ngIf="updatedDevisf!.tva_present" style="display: inline-block;">
                <label style="font-weight: 100;margin-bottom: -20px;margin-top: -5px;" for="tvaValue">Valeur TVA (%) :</label><br>
                <input type="number" id="tvaValue" [(ngModel)]="updatedDevisf!.tva" name="tvaValue"   placeholder="Entrez la valeur de la TVA">
              </div>
            </div>
            <hr style="width: 500px;margin-top: -5px;margin-bottom: 20px;">
            <div>
              <div style="display: inline-block;">
            <label style="margin-bottom: -15px;" for="updatedDevisfdate">Date :</label><br>
            <input class="input" type="date" id="updatedDevisfdate" [(ngModel)]="updatedDevisf!.creationDate" name="updatedDevisfdate"><br>
          </div>
          <div style="display: inline-block;">
            <label style="margin-bottom: -15px;" for="updatedDevisfStatus">Statut :</label><br>
            <select class="input" id="professionId" [(ngModel)]="updatedDevisf!.status.id" name="professionId" >
              <option *ngFor="let status of Status" [value]="status.id" [hidden]="status.tableref !== 'devis'"> {{ status.label }} </option>
            </select>  
          </div></div>
          <!-- <label for="Devisfdate">Date de l'élément :</label>
          <input type="date" id="updatedDevisfdate" [(ngModel)]="updatedDevisf.date" name="updatedDevisfdate" required> -->
          <div style="display: flex;align-items: center;">
            <hr style="width: 170px;margin-left: 10px;">
            <label>Conditions de l'offre:</label>
            <hr style="width: 170px;margin-left: 10px;">
          </div>
          <div>
            <label>Remise du rapport</label>
            <input type="text" disabled value="apres" class="input">
            <input class="input" type="number" name="remise" [(ngModel)]="remise" (ngModelChange)="updateRemiseRapport()">
            <select class="input" name="remiserapportselect" [(ngModel)]="remiserapportselect" (ngModelChange)="updateRemiseRapport()">
              <option value="jour">jour</option>
              <option value="mois">mois</option>
              <option value="annes">annes</option>
            </select>
  
          </div>
          <div>
              <div>
                <label>Modalite de paiement</label>
                <div class="container">
                  <div class="input-group" *ngIf="isVisible(1)">
                    <input style="width: 80px;" type="number" placeholder="%" class="input1" name="MP1" [(ngModel)]="updatedDevisf!.mp1">
                    <select class="select3" [(ngModel)]="updatedDevisf!.pmp1" name="PMP1">
                        <option value="% a l' avence">a l'avence</option>
                        <option value="% a la remise du rapport">a la remise du rapport</option>
                        <option value="% a l' approbation du rapport">a l' approbation du rapport</option>
                        <option value="% en fonction du volume des travaux réalisés">en fonction du volume des travaux réalisés</option>
                        <option value="Proportionnellement aux travaux réalisés">Proportionnellement aux travaux réalisés</option>
                    </select>
                  </div>
                  <div class="input-group" *ngIf="isVisible(2)">
                    <input style="width: 80px;" type="number" placeholder="%" class="input1" name="MP2" [(ngModel)]="updatedDevisf!.mp2">
                    <select class="select3" [(ngModel)]="updatedDevisf!.pmp2" name="PMP2">
                      <option value="% a l' avence">a l'avence</option>
                      <option value="% a la remise du rapport">a la remise du rapport</option>
                      <option value="% a l' approbation du rapport">a l' approbation du rapport</option>
                      <option value="% en fonction du volume des travaux réalisés">en fonction du volume des travaux réalisés</option>
                      <option value="Proportionnellement aux travaux réalisés">Proportionnellement aux travaux réalisés</option>
                    </select>
                  </div>
                <div class="input-group" *ngIf="isVisible(3)">
                    <input style="width: 80px;" type="number" placeholder="%" class="input1" name="MP3" [(ngModel)]="updatedDevisf!.mp3">
                    <select class="select3" [(ngModel)]="updatedDevisf!.pmp3" name="PMP3">
                      <option value="% a l' avence">a l'avence</option>
                      <option value="% a la remise du rapport">a la remise du rapport</option>
                      <option value="% a l' approbation du rapport">a l' approbation du rapport</option>
                      <option value="% en fonction du volume des travaux réalisés">en fonction du volume des travaux réalisés</option>
                      <option value="Proportionnellement aux travaux réalisés">Proportionnellement aux travaux réalisés</option>
                    </select>
                  </div>
                <div class="input-group" *ngIf="isVisible(4)">
                    <input style="width: 80px;" type="number" placeholder="%" class="input1" name="MP4" [(ngModel)]="updatedDevisf!.mp4">
                    <select class="select3" [(ngModel)]="updatedDevisf!.pmp4" name="PMP4">
                      <option value="% a l' avence">a l'avence</option>
                      <option value="% a la remise du rapport">a la remise du rapport</option>
                      <option value="% a l' approbation du rapport">a l' approbation du rapport</option>
                      <option value="% en fonction du volume des travaux réalisés">en fonction du volume des travaux réalisés</option>
                      <option value="Proportionnellement aux travaux réalisés">Proportionnellement aux travaux réalisés</option>
                    </select>
                  </div>
                <div class="input-group" *ngIf="isVisible(5)">
                    <input style="width: 80px;" type="number" placeholder="%" class="input1" name="MP5" [(ngModel)]="updatedDevisf!.mp5">
                    <select class="select3" [(ngModel)]="updatedDevisf!.pmp5" name="PMP5">
                      <option value="% a l' avence">a l'avence</option>
                      <option value="% a la remise du rapport">a la remise du rapport</option>
                      <option value="% a l' approbation du rapport">a l' approbation du rapport</option>
                      <option value="% en fonction du volume des travaux réalisés">en fonction du volume des travaux réalisés</option>
                      <option value="Proportionnellement aux travaux réalisés">Proportionnellement aux travaux réalisés</option>
                    </select>
                  </div>
                <button type="button" style="margin-left: 2px;" id="addButton" class="button" (click)="addInput()" [hidden]="numInputs >= maxInputs">+</button>
                <button type="button" id="removeButton" style="margin-left: 2px;" class="button" (click)="removeInput()" [hidden]="numInputs <= 1">-</button>
  
                </div>
              </div></div>
              <!-- Champ d'entrée pour la valeur de la TVA qui s'affiche si la case est cochée -->
              <hr style="width: 500px;margin-top: 10px;margin-bottom: 20px;">
  
          <label style="margin-top: 15px;margin-bottom: 15px;" for="Devisfnote">Note de l'élément :</label>
          <textarea id="updatedDevisfnote" [(ngModel)]="updatedDevisf!.note" name="updatedDevisfnote" required></textarea>
                    
          
        
        <!-- Champ d'entrée pour la valeur de la TVA qui s'affiche si la case est cochée -->
        
            
      
          <div style="width: 107.7%;background-color: #A9F4F9;margin-left: -20px;height: 70px;">
            <button type="submit" id="saveBtn" style="margin-top: 15px;margin-left: 430px;" (click)="updateDevisf()">Mettre à jour</button>
          </div>
        </form>
      </div>
  </div>
</div>
