/* @-moz-document url-prefix() {
  .votre-classe { */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 741px;
  width: 118.5%;
  background: linear-gradient(135deg, #FF833E, #A9F4F9);
  margin: 0;
  overflow: hidden;
  margin-left: -220px;
  margin-top: -30px;
  margin-bottom: -20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.verification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.verification-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  width: 60%;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.8);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.form-field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-field label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.1rem;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: calc(100% - 30px); /* Adjust width to accommodate icon */
  padding-right: 30px; /* Add padding to the right for icon */
}

.password-container .fa {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

.form-field input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
}

.form-buttons {
  display: flex;
  flex-direction: column;
}

.form-buttons button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #FF833E;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 1rem;
}

.form-buttons button:hover {
  background-color: #A9F4F9;
  transform: translateY(-3px);
}

.form-buttons button:active {
  transform: translateY(1px);
}

.error-message {
  color: red;
  margin-top: 10px;
}

.general-error-message {
  color: red;
  margin-top: 10px;
  font-size: 1rem;
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-image img {
  max-width: 100%;
  border-radius: 10px;
}
/* Styles for the back button */
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #555;
}

.back-button:hover {
  color: #000;
}
  /* }} */