<!-- modalupdateunite.component.html -->
<div id="modalBackgroundupdate" class="modal">
    <div>
        <div class="modal-content">
          <span class="close" id="closeModalBtn" (click)="closeModalUpdate()">&times;</span>
          <h3>Mettre à jour le BCT</h3>
          <hr style="width: 338.2px;margin-left: -20px;">
          <form (ngSubmit)="updateBCT()" #updateForm="ngForm">
            <div class="iii" *ngIf="updatedbct">
              <label for="UniteNom">Nom de l'unité :</label>
              <input id="updatedUniteName" [(ngModel)]="updatedbct.label" name="updatedUniteName" required>
      
            </div>
            <div style="width: 113.5%;background-color: #A9F4F9;margin-left: -20px;height: 70px;">
              <button type="submit" id="saveBtn" style="margin-top: 15px;margin-left: 210px;" (click)="updateBCT()">Mettre à jour</button>
            </div>
          </form>    
        </div>
    </div>
  </div>
  