<!-- modaladdPriorite.component.html -->
<div id="modalBackground"  class="modal">
    <div>
      
    <div class="modal-content">
      <span class="close" id="closeModalBtn" (click)="closeModal()">&times;</span>
      <h3>Ajouter un priorite</h3>
      <hr style="width: 338.2px;margin-left: -20px;margin-bottom: 10px;">
      <form (submit)="addPriorite()">
      <div class="iii">
     
        <label for="newPrioriteName">Libellé du priorite :</label><br>
        <input id="newPrioriteName" [(ngModel)]="newPriorite.label" name="newPrioriteName" required placeholder="Entrez Priorite Nom"><br>
      </div>
      <div style="width: 113.5%;background-color: #A9F4F9;margin-left: -20px;height: 70px;">
        <button id="saveBtn" style="margin-top: 15px;margin-left: 230px;"  (click)="addPriorite()" [disabled]="isAdding">Ajouter</button>
      </div>
    </form>
    </div>
  </div>
</div>
