<!-- modalupdateElement.component.html -->
<div id="modalBackgroundupdate" class="modal">
  <div>
      <div class="modal-content">
        <span class="close" id="closeModalBtn" (click)="closeModalUpdate()">&times;</span>
        <h3>Mettre à jour l'élément</h3>
        <hr style="width: 338.2px;margin-left: -20px;">
        <form (ngSubmit)="updateElement()" #updateForm="ngForm">
          <div class="iii" *ngIf="updatedElement">
            <label for="ElementNom">Nom de l'élément :</label>
            <input id="updatedElementName" [(ngModel)]="updatedElement.name" name="updatedElementName" required>
  
            <label for="ElementNote">Note de l'élément :</label>
            <textarea id="updatedElementNote" [(ngModel)]="updatedElement.note" name="updatedElementNote" required></textarea>
  
            <label for="newElementtype">Type de l'élément :</label><br>
            <select id="newElementtype" [(ngModel)]="selectedTypeId" name="newElementtype" required>
              <option *ngFor="let type of types" [ngValue]="type.id_type">{{ type.label }}</option>
            </select>
          </div>
          <div style="width: 113.5%;background-color: #A9F4F9;margin-left: -20px;height: 70px;">
            <button type="submit" id="saveBtn" style="margin-top: 15px;margin-left: 210px;" (click)="updateElement()">Mettre à jour</button>
          </div>
        </form>
      </div>
  </div>
</div>
