<div style="margin-left: -200px;">
    <div class="logo-container" style="margin-top: 100px;">
        <a routerLink="/page1"><img src="assets/mizan.png" alt="Logo MIZAN labs" /></a>
    </div>
    <div class="container" style="margin-top: -30px;">
        <a routerLink="/contact"><div class="module" id="contacts">
            <div class="icon"><a routerLink="/contact"><img src="assets/contacts.svg" alt="Gestion des contacts"></a></div>
            <a routerLink="/contact"><p>Gestion des contacts</p></a>
        </div></a>
        <a routerLink="/client"><div class="module" id="clients">
            <div class="icon"><a routerLink="/client"><img src="assets/client.png" alt="Gestion des clients"></a></div>
            <a routerLink="/client"><p>Gestion des clients</p></a>
        </div></a>
        <a routerLink="/projets"><div class="module" id="projets">
            <div class="icon"><a routerLink="/projets"><img src="assets/project.png" alt="Gestion des projets"></a></div>
            <a routerLink="/projets"><p>Gestion des projets</p></a>
        </div></a>
        <a routerLink="/devis"><div class="module" id="devis">
            <div class="icon"><a routerLink="/devis"><img src="assets/devis.png" alt="Gestion des devis"></a></div>
            <a routerLink="/devis"><p>Gestion des devis</p></a>
        </div></a>
    </div>
</div>