<div class="verification-container">
    <button class="back-button" (click)="goBack()">
        <i class="fa fa-arrow-left"></i>
      </button>
    <form (ngSubmit)="setPassword()" class="verification-form">
      <div class="form-content">
        <h2>Définir le Mot de Passe</h2>
        <div class="form-field">
          <input type="hidden" id="email" name="email" [value]="email" readonly required>
        </div>
        <div class="form-field">
          <label for="password">Mot de Passe</label>
          <div class="password-container">
            <input style="width: 230px;" [type]="showPassword ? 'text' : 'password'" id="password" [(ngModel)]="password" name="password" required>
            <i style="margin-right: 23px;" class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="toggleShowPassword()"></i>
          </div>
        </div>
        <div class="form-field">
          <label for="confirmPassword">Confirmer le Mot de Passe</label>
          <div class="password-container">
            <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
            <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="toggleShowConfirmPassword()"></i>
          </div>
        </div>
        <div *ngIf="passwordMismatch" class="error-message">Les mots de passe ne correspondent pas</div>
        <div *ngIf="passwordInvalid" class="error-message" style="margin-right: 40px;">
          Le mot de passe doit contenir au moins 8 caractères, une lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial.
        </div>
        <div class="form-buttons">
          <button type="submit">Définir le Mot de Passe</button>
        </div>
      </div>
      <div class="form-image">
        <img src="assets/signup.png" alt="Logo de l'Application">
      </div>
    </form>
  
    <!-- Modal de confirmation -->
    <div id="confirmationModal" class="modal" *ngIf="showConfirmationModal">
      <div class="modal-content">
        <span class="close" (click)="closeConfirmationModal()">&times;</span>
        <i class="fa fa-check-circle" style="font-size: 48px; color: green;"></i>
        <h3>Inscription Réussie!</h3>
        <p>Vous serez redirigé vers la page de connexion sous peu.</p>
      </div>
    </div>
</div>
