<!-- modaladdSituation.component.html -->
<div id="modalBackground"  class="modal">
    <div>
      
    <div class="modal-content">
      <span class="close" id="closeModalBtn" (click)="closeModal()">&times;</span>
      <h3>Ajouter un situation</h3>
      <hr style="width: 338.2px;margin-left: -20px;margin-bottom: 10px;">
      <form (submit)="addSituation()">
      <div class="iii">
     
        <label for="newSituationName">Libellé du situation :</label><br>
        <input id="newSituationName" [(ngModel)]="newSituation.label" name="newSituationName" required placeholder="Entrez Situation Nom"><br>
      </div>
      <div style="width: 113.5%;background-color: #A9F4F9;margin-left: -20px;height: 70px;">
        <button id="saveBtn" style="margin-top: 15px;margin-left: 230px;"  (click)="addSituation()" [disabled]="isAdding">Ajouter</button>
      </div>
    </form>
    </div>
  </div>
</div>
