<!-- Devistache.component.html-->
<div style="margin-left: 50px; background-color: rgb(255, 252, 250); width: 87%; overflow: hidden;border: 1px solid rgb(234, 234, 234);margin-top: 50px;">
    <div style="display: inline-block; margin-left: 2%;">
        <button style="background-color: red;font-size: small" class="action-button" (click)="openImportModal()">Importer</button>
        <button style="background-color: green;font-size: small" class="action-button" (click)="exportToExcel()">Export</button>
    </div>
    <div style="margin-left: 20px; margin-bottom: 20px;">
        <div style="display: inline-block;">
            <h2>Liste des tâches</h2>
        </div>
        <div class="search-bar-wrapper" style="display: inline-block; margin-left: 52.5%; margin-top: 6px;">
            <input class="search-bar" matInput placeholder="Rechercher..." (input)="applyFilter($event)">
            <!-- Exemple si vous avez une icône de recherche -->
            <i class="search-icon">🔍</i>
          </div>
        <div style="display: inline-block; margin-left: 2%;">
            <button class="action-button" (click)="openModal()">+</button>
        </div>
        <table class="table">
            <tr>
                <th (click)="sortData('refTask')">Référence de la tâche</th>
                <th (click)="sortData('taskName')">Nom de la tâche</th>
                <th (click)="sortData('priority')">Priorité de la tâche</th>
                <th (click)="sortData('status')">Statut de la tâche</th>
                <th (click)="sortData('start')">Début de la tâche</th>
                <th (click)="sortData('deadline')" >Échéance de la tâche</th>
                <th (click)="sortData('note')">Note de la tâche</th>
                <th>Action</th>
                <th >Éléments Devis</th>
            </tr><ng-container *ngIf="paginatedData.length > 0; else emptyTable">
            <tr *ngFor="let Devistache of paginatedData">
                <td>{{ Devistache.refTask }}</td>
                <td>{{ Devistache.taskName }}</td>
                <td>{{ Devistache.note }}</td>
                <td>{{ Devistache.priority.label}}</td>
                <td>{{ Devistache.start | date: 'yyyy-MM-dd'}}</td>
                <td>{{ Devistache.deadline | date: 'yyyy-MM-dd'}}</td>
                <td>{{ Devistache.status.label}}</td>
                <td>
                    <img src="assets/icons8-delete.svg" alt="Delete" (click)="openModalDelete(Devistache.taskId)">
                </td>
                <td> <button  [routerLink]="['/Item', Devistache.taskId]" class="view-projects-button">Eleéments </button></td>
            </tr></ng-container>
            <ng-template #emptyTable>
                <tr>
                    <td colspan="9" style="text-align: center;">La table est vide</td>
                </tr>
            </ng-template>
        </table>
    </div>
    <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
</div>
<app-modaladddevistache [tasks]="tasksWithNoDevis" [projectId]="projectId" [devisId]="devisId"></app-modaladddevistache>
<app-modalupdatedevistache></app-modalupdatedevistache>
<app-modaldeletedevistache [projectId]="projectId" [devisId]="devisId"></app-modaldeletedevistache>
